* {
    font-family: arial;
}

body {
    margin: 0;
    padding: 0;
    
}

.top {
    background-color: #293747;
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100px;
}

.top-left {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-left: 20px;
}

.top-left h1 {
    color: white;
}

.profile {
    display: flex;
    align-items: center; 
    margin-left: auto;
    margin-right: 20px;
    gap: 10px;
}

.profile img {
    border-radius: 50%; 
    width: 60px;
    height: 60px;
}

.profile p {
    color: white; 
    margin: 0;
    font-size: 1rem;
}

.container2 {
    display: flex;
    margin: 0;
    padding: 0;
    height: 86vh;
    width: 100%;
}

.left {

    background-color: #d9d9d9;
    width: 25%;
}

.left ul {
    padding: 0;
    margin: 0;
    margin-top: 75px;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

form i {
    font-size: 1.5rem;
    color: #D55669;
}

form input {
    border: none;
    background-color: transparent;
    padding: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #D55669;
    cursor: pointer;
}

.personal-info, .transactions, .contacts {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    width: 87%;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10%;
}

.personal-info:hover, .transactions:hover, .contacts:hover {
    background-color: #e79d46;
}


.personal-info:hover input, .transactions:hover input, .contacts:hover input,
.personal-info:hover i, .transactions:hover i, .contacts:hover i {
    color: black;
}


.main-container {
    width: 100%;
    background-image: url(../Images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container h1 {
    margin-left: 20px;
}

.sub-container {
    width: 95%;
    height: 90%;
    margin-left: 20px;
    margin-right: 20px;
    
}

.carpenters {
    width: 100%;
    height: 87%;    
    
}

.carpenters table {
    width: 100%;
    border-collapse: collapse; 
    border-radius: 4px;
    table-layout: fixed; 
}

.carpenters th, td {
    border: 1px solid black;
    text-align: center;
    padding: 10px; 
    word-wrap: break-word; 
}

.carpenters th {
    background-color: #293747;
    color: white;
    position: sticky;
    

}

.carpenters td {
    background-color: transparent; 
}

button {
    padding: 10px;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    border-radius: 4px;
    width: 75px;
    margin-top: 10px;
 
}

.approve:hover {
    background-color: green;
    color: white;
}


.reject:hover {
    background-color: maroon;
    color: white;
}







