* {
    font-family: arial;
}

body {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #293747;
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100px;
}

.top-left {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-left: 20px;
}

.top-left h1 {
    color: white;
}

.profile {
    display: flex;
    align-items: center; 
    margin-left: auto;
    margin-right: 20px;
    gap: 10px;
}

.profile img {
    border-radius: 50%; 
    width: 60px;
    height: 60px;
}

.profile p {
    color: white; 
    margin: 0;
    font-size: 1rem;
}

.container2 {
    display: flex;
    margin: 0;
    padding: 0;
    height: 86vh;
    width: 100%;
}

.left {
    display: inline-block;
    background-color: #d9d9d9;
    width: 25%;
}

.left i {
    font-size: 1.5rem;
    color: #D55669;
}

.left ul {
    padding: 0;
    margin: 0;
    margin-top: 75px;
}

.left ul li {
    list-style: none;
    height: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #D55669;
    margin-top: 12px;
}

.left a {
    text-decoration: none;
}

.personal-info, .transactions, .contacts {
    width: 87%;
    height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10%;
}

.personal-info:hover, .transactions:hover, .contacts:hover {
    color: black;
    background-color: #e79d46;
}

.personal-info:hover li, .transactions:hover li, .contacts:hover li,
.personal-info:hover i, .transactions:hover i, .contacts:hover i {
    color: black;
}

.main-container {
    width: 100%;
    background-image: url(Images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-container h1 {
    margin-left: 20px;
}

.carpenters {
    width: 100%;
    height: 87%;
}

.carpenters-subcontainer {
    width: 100%;
}

.carpenters-header {
    display: flex;
    gap: 35%;
    margin: 30px;
}

.carpenters-header h1 {
    margin: 0;
}

.carpenters a {
    float: right;
    color: black;
    font-size: 16px;
}

.carpenters-info th {
    background-color: #293747;
    color: white;
}

.carpenters table {
    width: 90%; 
    margin: auto; 
    border-collapse: collapse; 
    border-radius: 4px;
    overflow: hidden;
}

.carpenters th, td {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
}
